{% extends "layout.html" %}
{% block body %}
<div class="jumbotron text-center">
<h1>About Us</h1>
<p class = "lead"></p>
</script></div>
<p>Careersblog.com.ng is a website dedicated to helping professionals and job seekers find their dream jobs. We provide you with reliable resources and information to improve your career.  We bring to you the latest, hottest and best jobs in Nigeria.</p>
<p><strong>Our Mission</strong><br />
To help Non-graduates, Graduates &amp; Experienced Professionals find their dream jobs.</p>
<p><strong>Our Vision</strong><br />
To be the Number 1 job site in Nigeria.</p>
<p>Thanks for your interest in our service.</p>
<div class='code-block code-block-10' style='margin: 8px 0; clear: both;'>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
   </div>
{% endblock %}